{% extends "layout.html" %}

{% block choices %}
<form>


    <div class="row collapse postfix-round">
      <div class="small-9 columns">
        <select>
          <option selected disabled>Select a Hotel</option>
          {% for hotel in hotels %}
          <option>{{hotel.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="small-3 columns">
        <a href="#" class="button postfix">Go</a>
      </div>
    </div>


    <div class="row collapse postfix-round">
      <div class="small-9 columns">
        <select>
          <option selected disabled>Select a Restaurant</option>
          {% for restaurant in restaurants %}
          <option>{{restaurant.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="small-3 columns">
        <a href="#" class="button postfix">Go</a>
      </div>
    </div>


    <div class="row collapse postfix-round">
      <div class="small-9 columns">
        <select>
          <option selected disabled>Select an Activity</option>
          {% for activity in activities %}
          <option>{{activity.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="small-3 columns">
        <a href="#" class="button postfix">Go</a>
      </div>
    </div>
</form>
{% endblock choices %}

{% block itinerary %}
<ul class="tabs" data-tabs id="example-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Day 1</a></li>
  <li class="tabs-title"><a href="#panel2">Day 2</a></li>
</ul>
<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel is-active" id="panel1">
    <p>For Day 1, you can go fuck yourself.</p>
  </div>
  <div class="tabs-panel" id="panel2">
    <p>Shhh my sweet prince</p>
  </div>
</div>


{% endblock itinerary %}


