<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trip Planner</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
</head>
<body>
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
   <button class="menu-icon" type="button" data-toggle></button>
   <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar" id="example-menu">
   <div class="top-bar-left">
     <ul class="menu" data-dropdown-menu>
       <li class="menu-text">Trip Planner</li>
       <li><a href="#">Home</a></li>
       <li><a href="#">About</a></li>
       <li><a href="#">Contact</a></li>
     </ul>
   </div>
   <div class="top-bar-right">
     <ul class="menu">
       <li><input type="search" placeholder="Search"></li>
       <li><button type="button" class="button">Search</button></li>
     </ul>
   </div>
  </div>
    <div class="stretch no-padding">
        <div id="map-canvas"></div>

     </div>


    <div id="choices">
        <h5>Add Travel Plans</h5>
        {% block choices %}{% endblock choices %}
    </div>

    <div id="itinerary">
        {% block itinerary %}{% endblock itinerary %}
    </div>






  <script type="text/javascript" src="/assets/js/vendor/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/vendor/foundation.min.js"></script>
  <script type="text/javascript" src="/assets/js/app.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwo1ybkay7Pe_5HTATEZibGon2JQrStts&sensor=true"></script>
  <script src="/assets/js/map.js"></script>
</body>
</html>





